<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>809446152002-fi5f5ss24gm34ls65fkir4u1u5db9h3q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.809446152002-fi5f5ss24gm34ls65fkir4u1u5db9h3q</string>
	<key>API_KEY</key>
	<string>AIzaSyDpLxQv1JBiUY3XcyGnrJ0VPBMX9BshW4o</string>
	<key>GCM_SENDER_ID</key>
	<string>809446152002</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalProject</string>
	<key>PROJECT_ID</key>
	<string>projeto-final-pdm-4d220</string>
	<key>STORAGE_BUCKET</key>
	<string>projeto-final-pdm-4d220.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809446152002:ios:2279f2f0dd9b719349dadb</string>
</dict>
</plist>